body{
  margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.container{
        border: 2px solid rgb(228, 221, 221);
        width: 300px;
        height: 250px;
        position:absolute;
        left: 40%;
        bottom: 40%;
        border-radius: 3px;
        
}
.container p{
   
   position: relative;
   left: 20%; 
   top: 15px;
   font-weight: bolder;
}

.container form{
    text-align: center;

}

.container input{
  
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border: none;

}

.container input:focus{
    background-color:rgba(0, 0, 0, 0.35); 
    color: white;
    /* background-color: steal blue ; */
  

}

.container button{
    padding: 5px;
    position: relative;
    right: 13%;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
    
}

